 
* {
  padding:0;
  margin:0;
  border:0;
}

body {
background: url(../img/фон.png) ;
background-repeat-y: no-repeat;
text-align: center;
}

.box{
    width:1000px;
    align: center;
    background: white;
    margin: 0 auto;
    text-align: center;
    display: block; 
}
.conteiner{
    margin: -20px 0px 0px 0px;
}

.hader1{
text-align: center;
width:1000px;
height: 179px;
margin: 0 auto;
display: flex;
}

.hader2 {
text-align: center;
display: flex;
}

.head1{
    margin: 15px 0 0 30px;

}

.head2{
    margin: 10px 0 0 500px;
    color: #43d8e7;
    text-align: left;
    top: 7px;
    left: 565px;
}

.head3{
    margin: 20px 0 0 320px;
    float: left;  
    top: 112px;
    left: 895px;
}

.mos{
    display: block; 
    
}

.sidebar p{
    line-height: 25px;
}

.news p{
    line-height: 25px;
}

.znak{
    margin: 3px 7px;
    font-size: 8pt;
}

.znak a{
    color: #4da7bd;
}

.head3 a:visited{
    color: #4da7bd;
}

.menu{
    background-image: url(../img/black.png);
    background-repeat-y: no-repeat;
    height: 33px;
    margin: 20px 0 0 0px;
}

ul{
      box-shadow: #323232 10px;
}

a:hover {
  text-decoration: ;
  
}


li{
         list-style:none;
         display:block;
         float: left;
         margin: 12px 30px ; 
         padding-left: 0;
         height: 20px;
         
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 11pt;
    margin: 10px 0 0 0 ; 
}

.hader2:after{
    content :'';
    clear:both;
    display: block;
}

.menu:after{
    content :'';
    clear:both;
    display: block;
}

.site{
     overflow: hidden;
     width:1000px;
}


.dropdown{
    padding: 0 0 0 35px;
}

.sidebar { 
width: 209px;
background: #edeef0;
border-right: #c7cacf 1px solid;
float: left;
padding-bottom: 20000px;
margin-bottom: -20000px;

}

.site h3{
    margin: -13px 0 2px 0;
}

.content {
width: 580px;
margin: 0 auto;
float: left;
padding-bottom: 20000px;
margin-bottom: -20000px;
}

.news {
width: 208px;
background: #edeef0;
border-left: #c7cacf 1px solid;
float: left;
padding-bottom: 20000px;
margin-bottom: -20000px;
}


.list1{
 padding: 16px 5px 4px;
 display: block; 
 height: 20px;
 margin: -11px 27px 0 27px;
}

.dropdown-top{
    margin: -14px 27px 0 27px;
}
.konec{
    color: #edeef0;
    margin: 5px 0 0 0;
}


ul.dropdown li { position: relative; }
 ul.dropdown,
 ul.dropdown-inside {
 list-style-type: none;
 text-align: left;
 
 }
 ul.dropdown-inside {
 position: absolute;
 left: -9999px;
 
 }
 ul.dropdown li.dropdown-top {
 display: inline;
 float: left;

 }
 ul.dropdown li.dropdown-top a {
 padding: 10px 5px 4px;
 display: block;
 }


 ul.dropdown li.dropdown-top:hover .dropdown-inside {
 display: block;
 left: 0;
  margin: 0px 0px 0px -10px;
 }
 ul.dropdown .dropdown-inside { 
     background-image: url(../img/fonspis.png);
     background-repeat: no-repeat;
     padding: -13pxpx 0px 3pxpx 0px; 
  }
  
  .dropdown-inside{
      margin: -13pxpx 0px 3pxpx 0px;
  }

 .spisok{
     text-align: left;
      margin: -19px 35px 25px 8px;
 }