
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

header{
    width:910px;
    height: 1220px;
    text-align: center;
    background: white;
    margin: 0 auto; 
}

.sidebar li{
    margin: 0 0 0 20px;
}

.naimen{
    width: 85px;
    color: #465961;
    margin: 5px 0 -3px 60px;
    line-height: 1.4;
}

.naimen li{
    margin: 0 0 5px 0;
}

.naimen a:visited{
    color: #465961;
}
.naimen a:hover{
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.brend2{
    width: 90px;
    color: #465961;
    margin: 5px 0 16px 10px;
      line-height: 0.9;
}

.brend3{
    width: 90px;
    color: #465961;
    margin: 10px 0 16px 10px;
      line-height: 0.9;
}

.brend22{
  
    margin: 3px 0 -5px 10px;
    padding: 0px 0 0px 3px;
    font-size: 10pt;
}

.brend22 span{
    margin-left: 8px;
}

.vibrat{
    margin: 24px 0 0 -54px;
}

.buts2{
    border-radius: 20px;
    border: 1px solid lightgray;
    width: 75px;
    height: 19px;
    display: inline-block;
    margin: 30px 0px 0 490px; 
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.buts2 .img1{
    margin: 4px 3px 2px 3px;
}
.buts2 .img2{
    margin: 5px 3px 2px 3px;
}
.buts2 .img3{
    margin: 1px 3px 2px 3px;
}
article{
    float:left;
}

 .naimen ul {
     padding-left: -55px; /* Отступ от маркера до текста */
   }


    


.colb{
 color: #154467;
 }
 

 
 .bold{
     font-weight: bold;
 }
 
 .zagolovok1{
     font-size: 7pt;
     margin: 0px 65px 0px 16px;
     letter-spacing: 0.7px;
 }
 
  .zagolovok2{
     font-size: 9.2pt;
     letter-spacing: 0.7px;
 }
 
  .zagolovok3{
     font-size: 7pt;
     margin: 0px 9px 0px 71px;
     letter-spacing: 0.7px;
 }
 
  .zagolovok4{
     font-size: 9.2pt;
     margin: 0px 0px 10px 0px;
     padding: 0px 0px 10px 0px;
     letter-spacing: 0.7px;
 }
 
   .zagolovok5{
     font-size: 9.2pt;
     letter-spacing: 0.7px;
 }
 
 .krug{
     padding: 0px 0 0px 4px;
 }
 
 
 .knop{
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 13px;
    width: 148px;
    height: 24px ;
    margin: 5px 0 0 9px;
    padding: 1.8px 0 1.8px 0px;
    color: #465961;
    list-style: circle;
    vertical-align: top;
}

 .knop2{
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 13px;
    width: 134px;
    height: 24px ;
    margin: 9px 0 0 16px;
    padding: 1.8px 0 1.8px 0px;
    color: #465961;
    list-style: circle;
    vertical-align: top;
}

 .knop3{
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 13px;
    width: 134px;
    height: 24px ;
    margin: 21px 0 0 14px;
    padding: 1.8px 0 1.8px 0px;
    color: #465961;
    list-style: circle;
    vertical-align: top;
}

.knop li{
    list-style: circle;
}


.ser{
     display:  inline-block;
      vertical-align: middle;
      width: 70px;
      height: 30px ;
}



 
 .exit{
     background-image: url(../img/blue.png);
     background-repeat: no-repeat;
     border-radius: 6px;
     float: left;
     height: 29px;
     margin: 27px 0px -60px 6px;
     font-size: 7pt;
 }

   .pen{
       margin: 4px;
       float: left;
   }
      .pen1{
       margin: 5px -1px 2px 8px;
       float: left;
   }
   
   input{ 
       height: 15px;
       padding: -3px 0 0 7px; 
       border: grey 1px solid;
      }
      
 input:hover{
         border: #4eabda 1px solid;
 }
 
 .head{
     margin: 50px 0 0 0;
 }
 
  .but1{
    float: left;
    padding: 10px; 
 }
 
 .but{
    float: left;
    height: 20 px;
    width: 100 px;
    color: white;
    font-size: 8pt;
    letter-spacing: 0.5px;
 }

 .nut{
     margin: -3px 0 0 -5px;
 }
 
  .but5{
   text-decoration: underline;
   opacity: 0.8;
   margin: -3px 7px 0 0px;
   letter-spacing: 0.6px;
 }
 
  .but1{
    float: left;
    height: 300 px;
    width: 100 px;
    padding: 10px; 
    margin: 21px 0 0 -7px;
 }

.box1{
    width:910px;
    height: 65px;
    text-align: center;
    background: white;
    display: block; 
    float: center;  
    align-content: center;  
}

.box2{
    width:910px;
    height: 55px;
    text-align: center;
    opacity:1;
    display: block; 
    margin: 0 auto;   
}

button{
    height: 35px;
    background: #356786 ;
    border-radius: 8%;
    border: none;
    color: white;
}
button:hover{
    background: #4eabda;
       
}

 body {
text-align: center;
align-content: center;  
 margin: 0 auto; 
 font-weight: 100;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kosh{
    display: flex;
    float: right;
    margin: 8px 13px 8px 45px;
}



 .but{
    float: right;
    height: 300 px;
    width: 100 px;
    color: #4eabda;
    padding: 10px; 
 }
 
 
 .kosh p{
      margin:0 5px;
      font-size: 10pt;
 }
 
.button{

    float: right;
    height: 16 px;
    width: 180 px;
    color: #b1bcc0;
    padding: 4px 6px 5px 6px; 
    margin: 4px 1px 2px 2px;
    font-size: 10pt;  
}

.grey{
    color:grey;
}

.button:hover {
   
    background: #175173;
    color:white;
    border-radius: 35px;
    height: 20 px;
    width: 180 px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
}

.button a{
    color: white;
    text-decoration: none;
    padding: 0 12px 0 12px;
}


  .exit1{
     display: block; 
     border-radius: 10px;
     float: top;
     text-align: center;
     align-content: center; 
     margin: 1px 0 -60px 4px;
     display: inline-block;
 }


.conteiner2{
    margin: -8px 0px 0px 0px;
    align-content: center; 
}

.hader {
text-align: center;
}

.menu{
    background-image: url(../img/black.png);
    background-repeat: no-repeat;
    text-align: right;
    border-radius: 7px;
    box-shadow: 0 0 10px;
    margin: 12px 0 0 0;
    color: white;
}


ul{
      box-shadow: gray 10px;
}

.exit a{
    text-decoration: none;
    color: white;
}
.site2 a{
    text-decoration: none;
}

.site2 a:hover{
    text-decoration: underline;
}

.menu:after{
    content :'';
    clear:both;
    display: block;
}

.site{
     float: left;
     display: flex;
     font-size: 9pt;
     text-align: left;
}

.ones select {
    width: 100px; /* Ширина списка в пикселах */
   }
   
 .ones{
    font-size: 7pt;
    margin: -7px 0 0 4px; 
    line-height: 1.5;
    border-spacing: 0px 2px;
 }
 
 .twos{
    font-size: 7pt;
    margin: -7px 0 8px 4px; 
    line-height: 1.5;
    border-spacing: 0px 3.6px;
    padding: 1px 0 0px 4px; 
 }
 
 .threes{
    font-size: 7pt;
    margin: -7px 0 8px 1px; 
    line-height: 1.5;
    border-spacing: 0px 3.6px;
    padding: 1px 0 0px 4px; 
}



 
 .lineh{
     line-height: 0.6;
 }
 
 .content td{
     vertical-align: top;
 }

.ku{
    float: right;
    margin: 0px 5px;
    border: none;
    background: none;
    text-decoration: underline;
}

.ku5{
    float: right;
    margin: -11px 8px 0px 0px;
    border: none;
    background: none;
    text-decoration: underline;
    font-style: italic;
}

.ku6{
    float: right;
    margin: 8px 15px 0px 5px;
    border: none;
    background: none;
    text-decoration: underline;
    font-style: italic;
}

.ku2{
    float: right;
    margin: -15px 17px 5px 5px;
    border: none;
    background: none;
    text-decoration: underline;
    font-style: italic;
}

tr{
   padding: 0px; 
}
td{
    padding: 0 0px 0 5px;
}


.sidebar { 
width: 402px;
height: 128px;
border:1px solid #9c9c9d;
border-radius: 15px;
box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
margin: 11px 15px 0 5px;
padding: 0px 5px 5px 5px;
}

.str2{
    display: flex;
}

.sitebar .stolb2{
    width: 50px;
}

.sidebar .stolb1{
    font-size: 9px;
}
.sidebar .stolb3{
    font-size: 9px;
}
.sidebar .stolb4{
   width: 110px;
}

.sidebar .stolb1 span{
    padding: 3px;
}
.sidebar .stolb1 p{
    padding: 3px;
}
.sidebar .stolb2 form{
    padding-bottom: 3.8px;
}
.sidebar .stolb3 span{
    padding: 3px;
}
.sidebar .stolb3 p{
    padding: 3px;
}
.sidebar .stolb4 form{
    padding-bottom: 3.8px;
}

.sidebar .str2{
    padding: 8px 8px 0 8px;
}
.sidebar .stolb2{
    padding-right: 20px;
}
.sidebar .str3{
    margin-top: -5px;
}


.content {
width: 192px;
margin:0auto;
height: 133px;
border:1px solid #9c9c9d;
border-radius: 15px;
box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
margin: 11px 9px 0 0;
padding: -6px 5px 5px 5px;
}


.content .str2{
    padding: 8px 8px 0 8px;
}

.content .stolb1{
    width: 50px;
}
.content .str3{
    margin-top: 16px;
}
.content  form{
    padding-bottom: 3.8px;
     padding-right: 3px;
}
.content .stolb1 span{
   margin-top: 5px;
   display: block;
}


.news {
width: 260px;
height: 128px;
border:1px solid #9c9c9d;
border-radius: 15px;
box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
margin: 11px 0px 0 0;
padding:  0px 5px 5px 0px;
}

.news .stolb1{
    display: flex;
     padding-left: 7px; 
     padding-right: 15px;
    
}
.news  form{
    padding: 7px 0;
     padding-right: 3px;
}
.news .stolb11{
    width: 80px;
}
.news .str1{
    margin-top: 7px;
    margin-left: 2px;
}
.news .stolb2{
    margin-top: -12px;
    padding-left: 7px; 
      border-left: 1px solid  #9c9c9d; 
}


.site2{

     font-size: 10pt;
     margin: 15px 0 -2px 0; 
     float: left;
     display: flex;
     font-size: 10pt;
     text-align: left;
}


.foot{
    margin: 0 0 -10px 2px;
    padding: 0;
}

.sidebar2 { 
width: 199px;
height: 665px;
text-align: center;
padding: 4px 0 0 0;
margin: 0 0 0 -7px;
}

.content2 {
width: 516px;
margin:0 auto;
height: 626px;
text-align: center;
padding: 2px 4px 0 5px; 
line-height: 1;
margin: 0 2px 0 -1px;
display: flex;
}

.content2 table{
    border-spacing: 0px 4px;
}

.content2 ul{
    margin: 10px 11px;
    list-style: none;
    font-size: 8pt;
}

.news2 {
width: 184px;
height: 665px;
text-align: center;
padding: 1px 0 0 7px;
}


.rec{
   width: 200px;
   height: 165px; 
}


footer{
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    width:910px;
    height: 100px;
    text-align: center;
    margin:0 auto; 
    color: white;
    padding: 7px 0 0 0;
    
}

foot2{
    margin: 0 0 8px 0;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 9pt;
}
footer span{
    margin: 18px 0 0 0;
}

footer p{
    color: #7f4740;
    font-size:8pt;
}

footer a:hover{
    text-decoration: underline;
    color:#52abcb; 
}

footer p{
    margin: 10px;
}

ul.dropdown li { position: relative; }
 ul.dropdown,
 ul.dropdown-inside {
 list-style-type: none;
 padding: 0;
 }
 ul.dropdown-inside {
 position: absolute;
 left: -9999px;
 }
 ul.dropdown li.dropdown-top {
 display: inline;
 float: left;

 }
 ul.dropdown li.dropdown-top a {
 padding: 3px 10px 4px;
 display: block;

 }

 ul.dropdown a.dropdown-top:hover { padding: 2px 5px 5px 15px; }
 ul.dropdown li.dropdown-top:hover .dropdown-inside {
 display: block;
 left: 0;
  margin: 0px 0px 0px -25px;
 }
 ul.dropdown .dropdown-inside { background: gray; }
 ul.dropdown .dropdown-inside a:hover { background: lightgray; }

