*{
    margin: 0;
    padding: 0;
}
body {
background: url(../img/фон.png) no-repeat ;
background-size: 100%;
text-align: center;
background-repeat: no-repeat;
font-family: Geneva, Arial, Helvetica, sans-serif;
margin: 0 auto;
vertical-align: middle; 
}

.box{
    width:100%;
    height: 100%;
    text-align: center;
    opacity:1;
    display: block; 
    margin: 0 auto; 
 
}

.form h3{
    padding: 22px 0;
}

h3{
    color: rgb(255, 255, 255);
}



button{
    height: 35px;
    width: 130px;
    font-size: 9pt; 
    background-image: url(../img/but.png) ;
    border-radius: 8%;
    border: none;
    color: white;
}

button:hover{
    background: #4eabda;
}
  .pen{
       margin: 17px;
   }
   .pen1{
       margin: 17px;
       font-size: 6pt;
   }
   
   input{ background: black;
       height: 25px;
       padding: 0 0 0 15px; 
       border: black 1px solid;
      }
 input:hover{
     background-image: url(../img/header.png);
     background-repeat: no-repeat;
     box-shadow: 0 0 10px #4eabda ;
     padding: 0 0 2px 15px;
     border: black 0px solid;
 }
 
 .pen2{
    height: 20px;
    width: 100px; 
   
 }
 

 
  .upt{
    height: 32px;
    width: 270px; 
    background: #2c4178;
    opacity: 1;
    margin: 0 0 0 140px;
    border-radius: 4px; 
    margin-top: 22px;
  }
 
 .but{
    float: right;
    height: 20 px;
    width: 100 px;
    color: #4eabda;
    padding: 10px 7px 0 7px; 
 }
 
.button{
    height: 30px;
    float: right;
    color: #60b5ed;
    padding: 15px 9px 0 9px; 
    font-size: 10pt;  
}
.button1{
    height: 30px;
    float: right;
    color: white;
    padding: 15px 9px 0 9px; 
    font-size: 10pt;  
}
.button a{
   color: #60b5ed;
}
.button:hover {
    background: #4eabda;
    color:white;
}
.button a:hover {
    color:white;
}
.button1:hover {
    background: #4eabda;
    color:white;
}

.menu li{
    list-style-type: none;
    
}
.conteiner{
    margin: -16px 0px 0px 0px;
    align: center; 
    text-align: center;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 1028px;
}

.lok{
    align: center; 
    text-align: center;
    margin: 0 auto;
    position: relative; 
}

.form{
      margin: 0 auto;
      width: 550px;
      height: 560px;
      background-color: rgba(0, 0, 0, 0.6);
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
      padding: 8px 0 0 0;
      align: center; 
      text-align: center; 
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
     }

.und{
    text-decoration: underline;
}

 .pen2{
     font-size: 9pt;
 }
 
  .pen3{
     margin: 2px 0 0 0;
 }
 
   .pen4{
     margin: 26px 0 0 0;
 }
 
.hader {
text-align: center;
}

.menu{
    background: #07508e;
    text-align: right;
}

ul{
      box-shadow: gray 10px;
}

a{
    text-decoration: none;
    color: white;
}

.menu:after{
    content :'';
    clear:both;
    display: block;
}

.site{
     float: left;
     display: flex;
}

.sidebar { 
width: 250px;
height: 1500px;
background: lightgrey;
}

.content {
width: 500px;
margin:0auto;
height: 1500px;
}

.news {
width: 250px;
background: lightgrey;
height: 1500px;
}


ul.dropdown li { position: relative; }
 ul.dropdown,
 ul.dropdown-inside {
 list-style-type: none;
 padding: 0;
 }
 ul.dropdown-inside {
 position: absolute;
 left: -9999px;
 }
 ul.dropdown li.dropdown-top {
 display: inline;
 float: left;

 }
 ul.dropdown li.dropdown-top a {
 padding: 3px 10px 4px;
 display: block;

 }

 ul.dropdown a.dropdown-top:hover { padding: 2px 5px 5px 15px; }
 ul.dropdown li.dropdown-top:hover .dropdown-inside {
 display: block;
 left: 0;
  margin: 0px 0px 0px -25px;
 }
 ul.dropdown .dropdown-inside { background: gray; }
 ul.dropdown .dropdown-inside a:hover { background: lightgray; }